/* Gradient Animation */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    animation: gradient 15s ease infinite;
}

/* Fade In Animation */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}

/* Skill Bar Animation */
.skill-level.active {
    width: var(--level);
}